<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <div class="header">
        <div class="logo">
            <div style="background-color: white; 
                        padding: 5px 10px; 
                        border-radius: 5px; 
                        color: #e74c3c;">
            <a href="#">BB
            </div>
            <span>BizBridge</span>
        </a>
        </div>
        <nav>
            <a href="#">Registration</a>
            <a href="#">Pricing</a>
            <a href="#">Login</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>

    <main class="service-content">
        <main class="semii-content">
            <h1>We Bring Clients & Reputable Service Providers Together</h1>
            <div class="advertt-section">
                <p>Welcome To Your Dashboard <%- uname %></p>
            </div>
        </main>
        <!-- <h2> </h2> -->
        <hr>
        
        
    </main>
    

    <div class="footer">
        <p>Connect With Us</p>
        <div class="social-icons">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</body>
</html>