<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISAN HOMEPAGE</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <div class="header">
        <div class="logo">
            <div style="background-color: white; padding: 5px 10px; border-radius: 5px; color: #e74c3c;"><a href="/">
                BB
            </div>
            <span>BizBridge</span></a>
        </div>
        <nav>
            <a href="/registration"> Registration</a>
            <a href="#">Pricing</a>
            <a href="/login">Login</a>
            <a href="#">Get Your Service Listed</a>
        </nav>
    </div>

    <div class="container">
        <main class="main-content">
            <h1>We Bring Clients & Reputable Service Providers Together</h1>
            <button class="list-service-btn">Get Your Service Listed</button>
            <div class="search-section">
                <form action="/search" method="post">
                    <% let title = ["Interior Designer", "Hair Stylist", "Event Planner", "Caterer", "Web Designer", 
                                    "Fashion Designer", "Electrician", "Plumber", "Auto Mechanic", "Massage Therapist"] 
                    %>
                    <select class="service-dropdown" name="searchParam1">
                            <option value="">What Service Do You Need?</option>
                        <% title.forEach((title) => { %>
                            <option value="<%- title %>"><%- title %></option>
                        <% }) %>
                    </select>


                    <% let state = ["Lagos", "Abuja", "Rivers", "Oyo", "Ogun", "Anambra", "Osun", "Delta", "Edo", "Kaduna"] %>

                    <select class="location-dropdown" name="searchParam2">
                            <option value="">Where?</option>
                        <% state.forEach((state) => { %>
                            <option value="<%- state %>"><%- state %></option>
                        <% }) %>
                    </select>

                    <button type="submit" class="search-btn">SEARCH</button>
                </form>
            </div>
        </main>
        <div class="advert-section">
            <div class="advert-placeholder">Place your advert here</div>
        </div>
    </div>

    

    <div class="footer">
        <p>Connect With Us</p>
        <div class="social-icons">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</body>
</html>